<div class="card">
    <article class="material-card Purple" #card>
        <h2>
            <span>{{title}}</span>
        </h2>
        <div class="mc-content">
            <div class="img-container">
                <img class="img-responsive" [src]= img>
            </div>
            <div class="mc-description">
                <p>{{description}}</p>
            </div>
        </div>
        <a class="mc-btn-action" #icon (click)="Anim()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer" [innerHTML] = "Links">
        </div>
    </article>
</div>