<section id="about_me">
  <div class="header">
    <div class="header-content">
      <i style="font-size:36px;margin: 5px;" class="material-icons-outlined">info</i>
      <h1>About Me</h1>
    </div>
  </div>
  <div class="contant">
    <div class="image-container">
        <img class="frame" src="./assets/frame.png" alt="frame" />
    </div>
    <div class="about-details">
      <ng-container *ngFor="let k of keys; let i = index">
        <div class="row">
          <div class="col-md-12">
            <div class="ct-about">
              <!-- k repesent info key like name valuse is the answer -->
              <span> {{ k }}: </span> {{ values[i] }}
            </div>
          </div>
        </div>
      </ng-container>
      <a href="{{ cvLink }}" class="btn">Download Cv</a>
    </div>
  </div>
</section>
