<section id="about_me">

  <div class="contant">
    <div class="image-container">
        <img class="frame" src="./assets/frame.png" alt="frame" />
    </div>
    <div class="about-details">
      <ng-container *ngFor="let k of keys; let i = index">
        <div class="row">
          <div class="col-md-12">
            <div class="ct-about">
              <!-- k repesent info key like name valuse is the answer -->
              <span> {{ k }}: </span> {{ values[i] }}
            </div>
          </div>
        </div>
      </ng-container>
      <a href="{{ cvLink }}" class="btn">Download Cv</a>
    </div>
  </div>
</section>
