<article (click)="closeOverlay()" [ngClass]="{ selected: selectedProject === project }">
    <div class="image-container">
      <img src="{{ project.thumbnail }}" alt="" />
    </div>
    <h2>
      {{ project.title }}
    </h2>
  <div class="overlay" *ngIf="selectedProject === project && close">
    <div class="project-details">
      <button class="close-btn" (click)="close = true">
        <i class="material-icons-outlined">close</i>
      </button>
      <h2>{{ project.title }}</h2>
      <div class="image-container">
        <img src="{{ project.thumbnail }}" alt="" />
      </div>
      <p>{{ project.description }}</p>
      <div class="links">
        <a
          *ngIf="project.github"
          target="_blank"
          title="linkedin"
          class="tabs icon contact-tab"
          href="{{ project.github }}"
        >
          <div class="tab-title">
            <app-svg-icon name="github"></app-svg-icon></div
        ></a>
        <a
          *ngIf="project.demo"
          target="_blank"
          title="linkedin"
          class="tabs icon contact-tab"
          href="{{ project.demo }}"
        >
          <div class="tab-title">
            <i class="material-icons-outlined">link</i>
          </div></a
        >
      </div>
    </div>
  </div>
</article>
