<div class="nav-tabs">
  <a
  [ngClass]="{'selected': active}"
    title="home"
    routerLink="home"
    routerLinkActive="selected"
    class="tabs home-tab"
  >
    <div class="tab-title">
      <i class="material-icons">home</i>
    </div>
  </a>
  <a
    title="portfolio"
    routerLink="portfolio"
    routerLinkActive="selected"
    class="tabs portfolio-tab"
  >
    <div class="tab-title">
      <i class="material-icons">person</i>
    </div>
  </a>
  <a
    title="contact"
    routerLink="contact"
    routerLinkActive="selected"
    class="tabs contact-tab"
  >
    <div class="tab-title">
      <i class="material-icons">mail</i>
    </div>
  </a>
</div>
