<main class="container">
  <!-- start summary -->
  <app-summary id="summary"></app-summary>
  <!-- end summary -->
  <!-- start about-me -->
  <div id="about-me" class="about-me">
    <app-header title="About Me" icon="info"></app-header>
    <app-about-me></app-about-me>
  </div>
  <!-- end about-me -->
  <!-- start skills -->
  <div id="skills" class="skills">
    <app-header title="skills" icon="tune"></app-header>
    <app-skills></app-skills>
  </div>
  <!-- end skills -->
  <section id="projects" class="project">
    <app-header title="Project" icon="construction"></app-header>
    <app-project></app-project>
  </section>
  <section id="contact-me" class="contact-me">
    <app-header title="contact-me" icon="email"></app-header>
    <app-contact-me></app-contact-me>
  </section>
</main>
