.skills-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.skills-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 100px;
}
.btn {
  margin: 10px;
  font-size: var(--fs-600);
  background-color: var(--bg-color);
}
.active {
  background-color: var(--active-color);
}
app-skills-card:not(.selected) {
  display: none;
}

@media (max-width: 768px) {
  .btn {
    margin: 5px;
    font-size: 25px;
  }

  .skills-cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

