<section class="skills-contaier">
  <div class="contant">
    <div class="header">
      <h1>Skills</h1>
    </div>
    <div  class="header" >
      <h1 #ref class="active icon All" (click)="toggole($event)">All</h1>
      <ng-container *ngFor="let c of collection | keyvalue">
        <h1 #ref (click)="toggole($event)" class="icon" [ngClass]="c.key"> {{c.key}}</h1>
      </ng-container>
    </div>
    <div class="cards">
        <ng-container *ngFor="let c of collection | keyvalue: originalOrder">
        <div #card class="card-container" [ngClass]="c.key" *ngFor="let s of c.value ">
          <div class="card">
            <div class="front" >
              <app-svg-icon name="{{s}}"></app-svg-icon>
            </div>
            <div class="back">
              <span >{{ s }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
