.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.overlayout {
  background-color: var(--bg-layout-home); 
  z-index: 99;
}
.content-section {
  width: 100%;
  height: 100%;
}
.bottom-section {
  position: fixed;
  bottom: 0;
  width: fit-content;
  z-index: 999;
}
::ng-deep router-outlet + * {
  height: 100%;
}
