<section class="summary">
  <!-- <div class="image-container">
    <div class="shadow">
      <img class="frame" src="./assets/frame.png" alt="frame" />
    </div>
  </div> -->
  <div class="objective">
    <div class="text-container">
      <h1>
        <p>Hello,</p>
        I am Abdelrahman Mahmoud
      </h1>
      <span>Full-Stack Developer</span>
    </div>
    <p *ngFor="let p of paragraph">{{ p }}</p>
    <div class="btn">
      <a title="about me" aria-label="about me" href="#about_me" class="icon"
        ><p>about me</p></a
      >
    </div>
  </div>
</section>