

.summary {
  display: flex;
  flex-direction: row;
}

.objective {
  h1 {
    font-size: var(--fs-600);
    font-weight: bold;
    line-height: 1.5;
  }
  span {
    color: white;
    font-size: var(--fs-500);
    display: inline-block;
    padding: 8px 12px; 
    background-color: var(--active-color);
    margin: 15px 0 20px 0;
  }
  p:not(:first-child) {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: var(--fs-500);
    color: var(--paragraph-color);
    margin-bottom: 12px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 120px;
  > a {
    color: var(--font-color);
    font-size: var(--fs-500);
    text-decoration: none;
    background-color: var(--active-color);
    border-radius: 5px;
  }
  p {
    margin: 0;
  }
}


@media (max-width: 768px) {
  .frame {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  .summary {
    flex-direction: column;
    text-align: center;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      margin: 20px auto;
       > a {
        margin-right: 0;
      }
    }
    .icon{
      justify-content: center;
    }
  }
}

