<section class="summary">
  <div class="objective">
    <h1><p>Hello,</p>I am Abdelrahman Mahmoud</h1>
    <span>Front-End Developer</span>
    <p>
      I am specializing in the Angular framework.
    </p>
    <p>
      I have a strong understanding of the best practices and techniques for creating high-quality web applications.
    </p>
    <p>
      My skills include working with HTML, CSS, JavaScript, AJAX, and JSON.
    </p>
    <p>
      I also have experience in creating custom user interfaces and responsive design. 
    </p>
    <div class="btn">
      <div class="icon">
        <a title="linkedin" aria-label = 'linkedin' href="https://www.linkedin.com/in/abdelrahman-mahm0ud" class="icon-item"><i class="fa-brands fa-linkedin"></i></a>
        <a title="github" aria-label = 'github' href="https://github.com/abdo6999" class="icon-item"> <i class="fa-brands fa-github"></i></a>
        <a title="CV" aria-label = 'CV' href="https://drive.google.com/file/d/1dmwc2gl8Kq6ygC0rsb8Polg8G2Ba1JEb/view?usp=sharing" class="icon-item"><i class="fa-solid fa-file-lines"></i></a>
      </div>
      <a title="about me" aria-label = 'about me' href="#about_me" class="icon-item"><p>about me</p></a>
    </div>
  </div>
  <div class="image-container">
    <img src="../../assets/me.jpg" alt="person" >
  </div>
</section>