<section class="skills">
  <div class="contant">
    <div class="header">
      <h1>Skills</h1>
    </div>
    <div class="skills-cards">
      <ng-container *ngFor="let x of contant">
        <app-card-skills
          *ngIf="x.front !== undefined"
          [front]="x['front']"
          [back]="x['back']"
        ></app-card-skills>
        <app-card-skills
        *ngIf="x.svg !== undefined"
          [svg]="x['svg']"
          [back]="x['back']"
        ></app-card-skills>
      </ng-container>
    </div>
  </div>
</section>
