<section class="about">
  <div class="info">
    <h1><p>Hello,</p>I am Abdelrahman Mahmoud</h1>
    <span>Front-End Developer</span>
    <p>
      I am specializing in the Angular framework.
    </p>
    <p>
      I have a strong understanding of the best practices and techniques for creating high-quality web applications.
    </p>
    <p>
      My skills include working with HTML, CSS, JavaScript, AJAX, and JSON.
    </p>
    <p>
      I also have experience in creating custom user interfaces and responsive design. 
    </p>
    <div class="icon">
      <a href="https://www.linkedin.com/in/abdelrahman-mahm0ud" class="icon-item"><fa-icon [icon] = "faLinkedin"></fa-icon></a>
      <a href="https://github.com/abdo6999" class="icon-item"> <fa-icon [icon] = "faGithub"></fa-icon></a>
      <a href="https://drive.google.com/file/d/1dmwc2gl8Kq6ygC0rsb8Polg8G2Ba1JEb/view?usp=sharing" class="icon-item"><p>cv</p></a>
    </div>
  </div>
  <div class="image-container">
    <img src="../../assets/me.jpg" alt="person" >
  </div>
</section>